@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 150px;
    background-color: rgb(180, 17, 17);
    color: #afafaf;
    align-items: center;
}

#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #ececec;
    color: #fb4c4c;
    transform: scale(1.1);
}